* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100%;  
  overflow-y: hidden;
}

.mainSection {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

.imageThumbnails {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  overflow-y: hidden;
  height: 100px;
  width: 40%;
  left: 30%;
  position: absolute;
  top: 10%;
  border-radius: 4px;
  scrollbar-width: auto;      
  scrollbar-color: black lightgreen;
}

.imageThumbnails::-webkit-scrollbar {
  height: 5px;
}

.imageThumbnails::-webkit-scrollbar-track {
  background: rgba(144, 238, 144, 0.164);
}

.imageThumbnails::-webkit-scrollbar-thumb {
  background-color: black;
  outline: 1px solid slategrey;
}

.thumbnailContainer img {
  height: 100px;
  width: 120px;
}

.imageDesc {
  display: none;
}

.mainDescPos {
  position: absolute;
  display: flex;
  justify-content: center;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 2%;
}

.mainDesc {
  display: inline;
  font-size: 1.2rem;
  font-weight: bolder;
  padding: 3px 6px;
  text-transform: capitalize;
  background-color: black;
  text-shadow: none;
  text-align: center;
  color: aliceblue;
}

span {
  text-transform: lowercase;
}

a:link,a:visited,a:hover,a:active {
  text-decoration: none;
  color: aliceblue;
}

a:hover {
  text-decoration: underline;
}

.mainSection img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  object-fit:cover
}

.noDisplay {
  display: none;
}

button {
  border: 3px solid aliceblue;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: aliceblue;
  padding: 10px 10px;
  z-index: 100;
  cursor: pointer;
}

#previous {
  position: absolute;
  top: 50vh;
  left: 5vw;
}

#next {
  position: absolute;
  top: 50vh;
  right: 5vw;
}

@media only screen and (max-width: 500px) {
  .imageThumbnails {
    height: 50px;
    top: 75%;
  }
  
  .thumbnailContainer img {
    height: 50px;
    width: 60px;
  }
  .mainDescPos {
    bottom: 0;
  }
}

@media only screen and (max-width: 700px) {
  .imageThumbnails {
    height: 60px;
    top: 80%;
  }
  
  .thumbnailContainer img {
    height: 60px;
    width: 72px;
  }
}

@media only screen and (max-width: 900px) {
  .imageThumbnails {
    height: 70px;
    top: 80%;
  }
  
  .thumbnailContainer img {
    height: 70px;
    width: 84px;
  }
}

@media only screen and (max-width: 1100px) {
  .imageThumbnails {
    height: 80px;
  }
  
  .thumbnailContainer img {
    height: 80px;
    width: 96px;
  }
}