* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100%;  
  overflow-y: hidden;
}

.mainSection {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

.imageThumbnails {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  overflow-y: hidden;
  height: 100px;
  width: 40%;
  left: 30%;
  position: absolute;
  top: 10%;
  border-radius: 4px;
}

.thumbnailContainer img {
  height: 100px;
  width: 120px;
}

.imageDesc {
  display: none;
}

.mainDesc {
  font-size: 1.2rem;
  font-weight: bolder;
  padding: 3px 6px;
  text-transform: capitalize;
  background-color: black;
  text-shadow: none;
  position: absolute;
  text-align: center;
  right: 2%;
  bottom: 2%;
  color: aliceblue;
}

span {
  text-transform: lowercase;
}

a:link,a:visited,a:hover,a:active {
  text-decoration: none;
  color: aliceblue;
}

a:hover {
  text-decoration: underline;
}

.mainSection img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  object-fit:cover
}

.noDisplay {
  display: none;
}

button {
  border: 3px solid aliceblue;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: aliceblue;
  padding: 10px 10px;
  z-index: 100;
  cursor: pointer;
}

#previous {
  position: absolute;
  top: 50vh;
  left: 5vw;
}

#next {
  position: absolute;
  top: 50vh;
  right: 5vw;
}

@media only screen and (max-width: 750px) and (orientation: portrait) {
  .imageThumbnails {
    height: 100px;
  }
  
}